body {
    background-color: rgb(165, 255, 255);
}

.stick {
    background-color: rgb(30, 30, 30);
    margin: auto;
    margin-bottom: 0;
    width: 55px;
}

.secondWrapper {
    background-color: rgb(30, 30, 30);
    width: 270px;
    margin:auto;
    margin-top: 0;
    border-radius: 30px;
    border: solid;
    border-color: rgb(87, 87, 87);
    text-align: -webkit-center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.light {
    padding: 36px;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid;
}

.red {
    background-color: red;
    color: rgb(168, 0, 0);
    margin: 25px;
    
}

.yellow {
    background-color: yellow;
    color: rgb(180, 180, 0);
    margin: 25px;
}

.green {
    background-color: green;
    color: rgb(0, 96, 0);
    margin: 25px;
}

i {
    font-size: 55px;
}

.glow-r {
    box-shadow: 0px 0px 50px 15px rgb(255, 108, 83);
}

.glow-yw {
    box-shadow: 0px 0px 50px 12px rgb(255, 228, 92);
}

.glow-g {
    box-shadow: 0px 0px 50px 15px rgb(123, 255, 34);
}

/***Purple Options Below***/

.purple {
    background-color: rgb(153, 0, 255);
    color: rgb(97, 1, 161);
    margin: 25px;
    box-shadow: 0px 0px 50px 15px rgb(188, 88, 255);
}

/*Buttons Below*/

button {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 20px;
    margin-top: 45px;
    border-radius: 10px;
    font-weight: bold;
    border-color:rgb(188, 192, 196)
}

.cycle {
    background-color: rgb(255, 179, 48);
}

.purpleParty {
    background-color: rgb(181, 101, 255);
}